[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7.3"

[dev-packages]

[packages]
wheel = "*"
flask = "*"
flask-restful = "*"
flask-script = "*"
flask-migrate = "*"
marshmallow = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pylint = "*"
pytest = "*"
gunicorn = "*"
gevent = "*"